/* You can add global styles to this file, and also import other style files */
.hover-cursor{
    cursor: pointer;
}

body{
    background-color : lightcyan;
}

.todo-title{
    background-color : #1d1717;
    color : #FFF;
    border-radius: 20px 20px;
}